@model IndexVM

@{
    ViewBag.Title = "List of Stories";
}

<ul>
    @foreach (var Stories in Model.StoryItems)
    {
        <li>
            <a asp-controller="Stories" asp-action="Details" asp-route-id="@Stories.StoryId"> @Stories.StoryTitle </a>
        </li>
    }
    
        
</ul>
<a asp-controller="Stories" asp-action="Create">Create New Story</a>