@model AdminPageVM
@{
    ViewBag.Title = "Admin Page";
}
<ol>
    
    @foreach (var item in Model.userVMs)
    {
        <li>
            @item.UserName @item.Email 
            <form asp-controller="Account" asp-action="AdminAccess">
                <label asp-for="IsAdmin"></label>
                <input asp-for="IsAdmin" />
                <span asp-validation-for="IsAdmin"></span>
            </form>
        </li>
    }
    
</ol>

