@model AdminPageVM
@{
    ViewBag.Title = "Admin Page";
}
<ol>
    @foreach (var item in Model.userVMs)
    {
        <li>
            @item.UserName @item.Email @item.AdminAccess
            @if (item.AdminAccess)
            {
                <p>admin</p>
            }
        </li>
    }

</ol>

